__pycache__
migrations
.idea
.vscode
db.sqlite3
media
judge_data/spj/*
!judge_data/spj/.gitkeep
!judge_data/spj/testlib.h
judge_data/test_data/*
!judge_data/test_data/.gitkeep
judge_data/submission/*
!judge_data/submission/.gitkeep
venv
secret.key
*.env
uwsgi.ini
static/
problem_files/*
!problem_files/.gitkeep
/settings.json