{
    "noDeepUpdate": ["languages"],
    "notForClient": ["captcha.serverKey"],
    "name": "GENUINE-OJ",
    "title": "GENUINE-OJ",
    "footer": {
        "useFooter": true,
        "icp": "ICP-XXXXXXXXXX"
    },
    "allowRegister": true,
    "displaySettings": {
        "markdownTheme": "vuepress",
        "sentenceApi": "yxzl",
        "theme": "system"
    },
    "languages": {
        "c": "C",
        "cpp": "C++",
        "python3": "Python 3"
    },
    "captcha": {
        "enabled": false,
        "scenes": [],
        "type": "recaptcha-v3",
        "clientKey": "",
        "serverKey": "",
        "backendUrl": ""
    },
    "defaultSubmitLanguage": "python3",
    "forceHideSubmissions": false,
    "enableDiscussion": true
}
